{% extends 'base-colegio.html' %}
{% load static %}

{% block content %}
{% if request.user.id_tipo_usuario.id_tipo_usuario == 5 %}
    <div class="card card-mrg-matricula">
        <div class="card-title">
            <h1 class="text-center text-white">Edición datos de administrador</h1>
        </div>
        <div class="card card-matricula container">
            <form action="" class="mt-3" id="form">
                <div class="row">
                    <div class="col-sm-6 mb-3">
                        <label for="">RUN Administrador</label>
                        <input type="text" class="form-control" name="rut" value="{{ Persona.run }}" required readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 mb-3">
                        <label for="">Nombres</label>
                        <input type="text" class="form-control" name="nombres" value="{{ Persona.p_nombre }} {{ Persona.s_nombre }}"" required>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <label for="">Apellido Paterno</label>
                        <input type="text" class="form-control" name="appaterno" value="{{ Persona.appaterno }}" required>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <label for="">Apellido Materno</label>
                        <input type="text" class="form-control" name="apmaterno" value="{{ Persona.apmaterno }}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mb-3">
                        <label for="">Nacionalidad</label>
                        <select class="form-select" name="nacionalidad">
                            {% for n in Nacionalidad %}
                                <option value="{{ n.id_nacionalidad }}" 
                                    {% if Persona.id_nacionalidad.id_nacionalidad == n.id_nacionalidad %}
                                    selected
                                    {% endif %}
                                >{{ n.nombre_nacionalidad }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 mb-3">
                        <label for="">Fecha de Nacimiento</label>
                        <input type="text" class="form-control" name="fecha_nacimiento" value="{{ Persona.fecha_nacimiento|date:'Y-m-d' }}" required readonly>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <label>Sexo</label>
                        <select class="form-select" name="genero" >
                            {% for g in Genero %}
                                <option value="{{ g.id_genero }}" 
                                    {% if Persona.id_genero.id_genero == g.id_genero %}
                                    selected
                                    {% endif %}
                                >{{ g.nombre_genero }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6 mb-3">
                        <label for="">Dirección</label>
                        <input type="text" class="form-control" name="nombre_calle" value="{{ Persona.id_direccion.nombre_calle }}" required>
                    </div>
                    <div class="col-sm-2 mb-3">
                        <label for="">Numero</label>
                        <input type="number" class="form-control" name="numero" value="{{ Persona.id_direccion.numero }}" required>
                    </div>
                    <div class="col-sm-2 mb-3">
                        <label for="">Departamento</label>
                        <input type="number" class="form-control" name="depto">
                    </div>
                    <div class="col-sm-2 mb-3">
                        <label for="">Block</label>
                        <input type="text" class="form-control" name="block">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 mb-3">
                        <label for="">Región</label>
                        <select class="form-select" name="region" required>
                            {% for r in Region %}
                                <option value="{{ r.id_region }}" 
                                    {% if Persona.id_direccion.id_comuna.id_region.id_region == r.id_region %}
                                    selected
                                    {% endif %}
                                >{{ r.nombre_region }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-3 mb-3">
                        <label for="">Comuna</label>
                        <select class="form-select" name="comuna" required>
                            {% for c in Comuna %}
                                <option value="{{ c.id_comuna }}" 
                                    {% if Persona.id_direccion.id_comuna.id_comuna == c.id_comuna %}
                                    selected
                                    {% endif %}
                                >{{ c.nombre_comuna }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 mb-3">
                        <label for="">Teléfono Domicilio</label>
                        <input type="text" class="form-control" name="telefono_fijo" value="{{ Persona.telefono_fijo }}" required>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <label for="">Celular</label>
                        <div class="input-group">
                            <span class="input-group-text" id="celular">+56</span>
                            <input type="text" class="form-control" name="celular" aria-describedby="celular" value="{{ Persona.celular }}" required>
                        </div>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <label for="">Correo electronico</label>
                        <input type="text" class="form-control" name="email" value="{{ Persona.email }}" required>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-5 mb-3">
                        <label for="">Grado Académico</label>
                        <select class="form-select" name="grado_academico" required>
                            {% for ga in GradoAcademico %}
                                <option value="{{ ga.id_grado_academico }}"
                                    {% if Administrador.id_grado_academico.id_grado_academico == ga.id_grado_academico %}
                                    selected
                                    {% endif %}
                                >{{ ga.nombre_grado_academico }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-7 mb-3">
                        <label for="">Título</label>
                        <select class="form-select" name="titulo">
                            {% for t in Titulo %}
                                <option value="{{ t.id_titulo }}"
                                    {% if Administrador.id_titulo.id_titulo == t.id_titulo %}
                                    selected
                                    {% endif %}
                                >{{ t.nombre_titulo }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 mb-3">
                        <label for="">Mención</label>
                        <select class="form-select" name="mencion" required>
                            {% for m in Mencion %}
                                <option value="{{ m.id_mencion }}"
                                    {% if Administrador.id_mencion.id_mencion == m.id_mencion %}
                                    selected
                                    {% endif %}
                                >{{ m.nombre_mencion }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <label for="">Mágister</label>
                        <input type="text" class="form-control" name="magister" value="{{ Administrador.magister }}">
                    </div>
                    <div class="col-sm-4 mb-3">
                        <label for="">Doctorado</label>
                        <input type="text" class="form-control" name="doctorado" value="{{ Administrador.doctorado }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 mb-3">
                        <label for="">Cargo del administrador</label>
                        <select class="form-select" name="cargo" required>
                            <option value="">Seleccione un cargo</option>
                            {% for ta in TipoAdministrador %}
                                <option value="{{ ta.id_tipo_administrador }}"
                                    {% if Administrador.id_tipo_administrador.id_tipo_administrador == ta.id_tipo_administrador %}
                                    selected
                                    {% endif %}
                                >{{ ta.nombre_tipo_administrador }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <hr>
                <p class="text-center" style="color: aliceblue;">Al hacer clic en el botón "Enviar Información", el apoderado indica
                    que toda la información declarada del estudiante es verídica. </p>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary mb-3" type="submit">Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
{% else %}
    <div class="container d-flex align-items-center justify-content-center">
        <div class="card card-listar">
            <div class="card-title">
                <h1 class="text-center text-white"><i class="bi bi-exclamation-diamond-fill"></i> Acceso denegado <i class="bi bi-exclamation-diamond-fill"></i></h1>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}

{% block script %}
<script src="{% static 'scripts/usuarios/administrador/editar-administrador.js' %}"></script>
{% endblock %}