{% extends 'base-colegio.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock %}

{% block content %}
{% if request.user.id_tipo_usuario.id_tipo_usuario == 5 %}
    <div class="container d-flex align-items-center justify-content-center">
        <div class="card card-listar">
            <div class="card-header text-center text-white">
                <h1>Administración de Usuarios</h1>
            </div>
            <div class="card">
                <div class="container">
                    <div class="row my-3">
                        <div class="col-1">
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#colPositivas"  aria-controls="colPositivas">
                                <i class="bi bi-plus-lg"></i>
                            </button>
                        </div>
                        <div class="col-11">
                            <h2>Profesores</h2>
                        </div>
                    </div>
                    <div class="collapse" id="colPositivas">
                        <div class="card card-body">
                            <div class="row mt-3">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center mb-3">
                                    <a href="{% url 'crearProfesor' %}" class="btn btn-primary">Crear nuevo profesor</a>
                                </div>
                            </div>
                            <table class="table table-sm table-striped ">
                                <thead>
                                <tr class="table-primary text-white">
                                    <th>Nombre Completo</th>
                                    <th>RUT</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for p in profesores %}
                                    <tr class="table-light table-striped">
                                        <td>{{p.run.p_nombre}} {{p.run.appaterno}} {{p.run.apmaterno}}</td>
                                        <td>{{p.run}}</td>
                                        <td>
                                            <a href="{% url 'editarProfesor' p.run %}" type="button" class="btn btn-secondary">Editar usuario</a>
                                        </td>
                                        <td>
                                            <a href="{% url 'eliminarUsuario' p.run %}" type="button" class="btn btn-danger">Eliminar usuario</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                    <div class="row my-3">
                        <div class="col-1">
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#colNegativas"  aria-controls="colNegativas">
                                <i class="bi bi-plus-lg"></i>
                            </button>
                        </div>
                        <div class="col-11">
                            <h2>Administradores</h2>
                        </div>
                    </div>
                    <div class="collapse" id="colNegativas">
                        <div class="card card-body">
                            <div class="row mt-3">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center mb-3">
                                    <a href="{% url 'crearAdministrador' %}" class="btn btn-primary">Crear nuevo administrador</a>
                                </div>
                            </div>
                            <table class="table table-sm table-striped ">
                                <thead>
                                <tr class="table-primary text-white">
                                    <th>Nombre Completo</th>
                                    <th>RUT</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for a in administradores %}
                                    <tr class="table-light">
                                        <td>{{a.run.p_nombre}} {{a.run.appaterno}} {{a.run.apmaterno}}</td>
                                        <td>{{a.run}}</td>
                                        <td>
                                            <a href="{% url 'editarAdministrador' a.run %}" class="btn btn-secondary">Editar usuario</a>
                                        </td>
                                        <td>
                                            <a href="{% url 'eliminarUsuario' a.run %}" class="btn btn-danger">Eliminar usuario</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
    </div>
{% else %}
    <div class="container d-flex align-items-center justify-content-center">
        <div class="card card-listar">
            <div class="card-title">
                <h1 class="text-center text-white"><i class="bi bi-exclamation-diamond-fill"></i> Acceso denegado <i class="bi bi-exclamation-diamond-fill"></i></h1>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}