{% extends 'base.html' %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center">
    <div class="card card-creacion">
        <div class="row">
            <h6 class="text-end my-1 mod-text-obs fecha-form"></h6>
        </div>
        <div class="card-title">
            <h1 class="text-center text-white">Agendar una reunión</h1>
        </div>
        <div class="card">
            <div class="card-body">
                <form class="text-center" id="formulario_contacto" method="POST" enctype="multipart/form-data">
                    <form action="">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="">Fecha de la reunión</label>
                            <input type="datetime-local" class="form-control" name="fecha" id="fecha" value="{{ fecha }}">
                        </div>
                        <div class="form-group">
                            <label for="">Título</label>
                            <input type="text" class="form-control" name="titulo" id="titulo" required>
                        </div>
                        <div class="form-group">
                            <label for="">Descripción</label>
                            <textarea type="text" class="form-control" name="cuerpo" id="cuerpo"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="">Destinatario</label>
                            <select class="form-control" name="usuario" id="usuario" required>
                                <option value="">Seleccione un usuario</option>
                                {% for usuario in usuarios %}
                                <option value="{{ usuario.persona.id_persona }}">{{ usuario.persona }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <button class="btn btn-success" type="submit">Agendar</button>
                            &nbsp;
                            <a href="{% url 'ver-reuniones' %}"class="btn btn-secondary">Volver atras</a>
                        </div>
                    </form>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}