{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
    :root {
        --fc-border-color: #000;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    .overlay {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .appointment-modal {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        padding: 20px;
        border: 1px solid black;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .appointment-modal h2 {
        margin-bottom: 20px;
    }

    .appointment-modal label {
        display: block;
        text-align: left;
        margin-bottom: 5px;
    }

    .appointment-modal input {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid black;
        border-radius: 4px;
    }

    .appointment-modal .submit-button {
        width: 100%;
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .appointment-modal .submit-button:hover {
        background-color: #45a049;
    }

    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: transparent;
        border: none;
        font-size: 18px;
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center"></h1>
    <div id='calendar' style="height: 100%;"></div>

    <div class="overlay">a</div>

    <div class="appointment-modal" id="appointment-modal">
        <button class="close-btn" id="close-btn">X</button>
        <h2>Agendamiento de horas</h2>
        <form method="POST">
            {% csrf_token %}
            {{ formulario }}
            <button type="submit" class="submit-button mt-3" id="submit-button">Agendar hora</button>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        function closeAppModal() {
            overlay.style.display = 'none';
            appointmentModal.style.display = 'none';
        }

        document.getElementById('close-btn').addEventListener('click', () => {
            closeAppModal();
        })

        const calendarEl = document.getElementById('calendar');
        const calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridWeek',
            locale: 'es',
            timeZone: '-4:00',
            dateClick: (info) => {
                appModal();
                console.log(info.dateStr);
                
                document.getElementById('fecha').value = `${info.dateStr}T00:00:00`
            },
            eventClick: (info) => {
                const data = info.event.extendedProps;
                console.log(data.info);
                
                document.getElementById('id_titulo').value = data.info.titulo;
                document.getElementById('id_cuerpo').value = data.info.cuerpo;
                document.getElementById('fecha').value = data.info.fecha.slice(0, -1);
                document.getElementById('id_destinatario').value = data.info.destinatario;

                appModal();
            }
        });
        calendar.render();

        calendar.batchRendering(() => {
            const reuniones = '{{ reuniones|escapejs }}';
            const pendiente = '#FAB853';
            const aceptada = '#1ACF29';

            for (const reunion of JSON.parse(reuniones)) {
                console.log(reunion);
                calendar.addEvent({
                    title: reunion.fields['titulo'],
                    start: reunion.fields['fecha'],
                    backgroundColor: '#FAB853', 
                    extendedProps: {
                        info: reunion.fields
                    }
                });
            }
        });

        const appointmentModal = document.getElementById('appointment-modal');
        function appModal() {
            overlay.style.display = 'block';
            appointmentModal.style.display = 'block';
            document.getElementById('submit-button').style.display = 'block';
        }

        function infoModal() {
            document.getElementById('submit-button').style.display = 'none';
            overlay.style.display = 'block';
            appointmentModal.style.display = 'block';

        }
    });
</script>
{% endblock %}