{% extends 'base.html' %}

{% block css %}
<style>
    :root {
        --fc-border-color: black;
        --fc-daygrid-event-dot-width: 5px;
    }

    .appointment-info {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        padding: 20px;
        border: 1px solid black;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .appointment-info h2 {
        margin-bottom: 20px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container mt-3">
    <h2 style="text-align: center;">Agendamiento de reuniones</h2>
    <a href="{% url 'agendar-reunion' %}" class="btn btn-primary">Agendar hora</a>
    <div id="calendar"></div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const calendarEl = document.getElementById('calendar');
        const calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            timeZone: '-4:00',
            dateClick: (info) => {
                const date = `${info.dateStr} 00:00`;
                location.href = `/agendar-reunion/${date}`;
            },
            eventClick: (info) => {
                const id = info.event.extendedProps.id;
                location.href = `/info-reunion/${id}/`;
            }
        });
        calendar.render();

        calendar.batchRendering(() => {
            fetch('/obtener-reuniones/').then(response => response.json())
            .then(data => {
                data.forEach(reunion => {
                    let color = ''
                    switch (reunion.estado_reunion) {
                        case 1:
                            color = '#D1B649';
                            break;
                        case 2:
                            color = '#E4080A';
                            break;
                        case 3:
                            color = '#7DDA58';
                            break;
                        default:
                            color = '#000000';
                            break;
                    }

                    calendar.addEvent({
                        'title': reunion.titulo,
                        'start': reunion.fecha,
                        'backgroundColor': color,
                        'extendedProps': {
                            id: reunion.id_reunion
                        }
                    });
                });
            });
        });
    });
</script>
{% endblock %}