{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
    .small-input {
        width: 70px;
    }
</style>
{% endblock %}

{% block content %}
{% if request.user.tipo_usuario.id_tipo_usuario == 3 or request.user.tipo_usuario.id_tipo_usuario == 5 %}
<div class="container d-flex align-items-center justify-content-center">
    <div class="card card-listar">
        <div class="card-header text-center text-white">
            <h1>Notas de la asignatura</h1>
            <h2>{{ nombre_asignatura }}</h2>
            <h3>{{ curso }} </h3>
        </div>
        <div class="card">
            <form method="post" id="form_notas">
                {% csrf_token %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre y Apellido</th>
                            <th>RUT</th>
                            <th>Nota 1</th>
                            <th>Nota 2</th>
                            <th>Nota 3</th>
                            <th>Nota 4</th>
                            <th>Nota 5</th>
                            <th>Nota 6</th>
                            <th>Nota 7</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in alumnos %}
                        <tr>
                            <td>{{ d.alumno|title }}</td>
                            <td>{{ d.alumno.persona.rut }}</td>
                            {% for nota in d.notas %}
                            <td>
                                <input type="text" class="form-control form-control-sm small-input"
                                    name="{{ d.alumno.persona.rut }}nota{{ nota.id_notas }}"
                                    value="{{ nota.nota|floatformat:1 }}" required pattern="[0-7](,[0-9])?"
                                    title="Ingresa un número válido entre 0 y 7" maxlength="3"
                                    onblur="formatInput(this)">
                            </td>
                            {% endfor %}
                            {% if not data.notas|length == 7 %}
                            <td><input type="text" class="form-control form-control-sm small-input" value="0"
                                    name="{{ d.alumno.persona.rut }}nota{{ d.nota_max_id }}" required pattern="[0-7](,[0-9])?"
                                    title="Ingresa un número válido entre 0 y 7" maxlength="3"
                                    onblur="formatInput(this)"></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="text-center">
                    <a type="submit" class="btn btn-secondary" href="{{ url_anterior }}">Volver</a>
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% else %}
<div class="container d-flex align-items-center justify-content-center">
    <div class="card card-listar">
        <div class="card-title">
            <h1 class="text-center text-white"><i class="bi bi-exclamation-diamond-fill"></i> Acceso denegado <i
                    class="bi bi-exclamation-diamond-fill"></i></h1>
        </div>
    </div>
</div>
{% endif %}

<script>
    function formatInput(input) {
        if (input.value == '' || input.value == 0) {
            input.value = 0;
            return;
        }

        if (input.value >= 70) {
            input.value = '7,0';
            return;
        }
        if (input.value <= 10) {
            input.value = '1,0';
            return;
        }

        input.value = input.value.replace(/,/g, '');
        input.value = `${input.value[0]},${input.value[1] ?? 0}`;
    }
</script>
{% endblock %}