{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
    .chart {
        text-align: center;
        width: 100%;
        min-height: 400px;
    }
</style>
{% endblock %}

{% block content %}
{% if request.user.tipo_usuario.id_tipo_usuario < 3 %} 
<div class="container d-flex align-items-center justify-content-center">
    <div class="card card-listar">
        <div class="card-title">
            <h1 class="text-center text-white">Información Alumno</h1>
        </div>
        <div class="card">
            <div class="container row d-flex justify-content-between my-3">
                <div id="chart2" class="chart"></div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container d-flex align-items-center justify-content-center">
    <div class="card card-listar">
        <div class="card-title">
            <h1 class="text-center text-white"><i class="bi bi-exclamation-diamond-fill"></i> Acceso denegado <i class="bi bi-exclamation-diamond-fill"></i></h1>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block script %}
<script>
    var datos = JSON.parse('{{datos_json|safe}}');
    var myChart = echarts.init(document.getElementById('chart2'));
    var option = {
        'title': {
            'text': datos.text,
            'subtext': datos.subtext,
            'left': 'center'
        },
        'tooltip': {
            'trigger': 'item'
        },
        'legend': {
            'orient': 'vertical',
            'left': 'left'
        },
        'series': [
            {
                'name': 'Estado Asistencia',
                'type': 'pie',
                'radius': '50%',
                'data': datos.data,
                'emphasis': {
                    'itemStyle': {
                        'shadowBlur': 10,
                        'shadowOffsetX': 0,
                        'shadowColor': 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };

    myChart.setOption(option);
</script>
    {% endblock %}