{% extends 'base-colegio.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static '/css/index.css' %}">
{% endblock %}

{% block content %}
{% if request.user.id_tipo_usuario.id_tipo_usuario == 3 %}
    <div class="container d-flex align-items-center justify-content-center">
        <div class="card card-listar">
            <div class="card-header text-center text-white">
                <h1>Asitencia del curso</h1>
                <h2>{{ Curso.id_lista_curso.nombre_curso }} {{ Curso.id_tipo_curso.nombre_tipo_curso }} - {{ Curso.anio_curso }}</h2>
                <h3>Jornada {{ Curso.id_jornada.nombre_jornada }}</h3>
            </div>
            <div class="card">
                <form action="" method="POST" id="asistenciaForm">
                    {% csrf_token %}
                    <table class="table table-sm table-striped ">
                        <thead>
                            <tr class="table-primary text-white">
                                <th>Nombre Completo</th>
                                <th>RUT</th>
                                <th class="text-center">Asistencia</th>
                            </tr>
                        </thead>
                        <h3>Asistencia del día {{ Fecha }}</h3>
                        {% for m in Matriculas %}
                            <tbody>
                                <tr class="table-light">
                                    <td>{{ m.run_alumno }}</td>
                                    <td>{{m.run_alumno.run}}</td>
                                    <td class="text-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="asistencia_{{m.run_alumno.run}}" value="1" id="1" checked>
                                            <label class="form-check-label" for="asistenciaForm">
                                                Presente
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="asistencia_{{m.run_alumno.run}}" value="2" id="2" >
                                            <label class="form-check-label" for="asistenciaForm">
                                                Ausente
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="asistencia_{{m.run_alumno.run}}" value="3" id="3" >
                                            <label class="form-check-label" for="asistenciaForm">
                                                Justificado
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                    <div class="text-center">
                        <div class="text-center">
                            <a type="submit" class="btn btn-secondary" href="{% url 'asistenciaCursos' %}">Volver</a>
                            <button type="submit" class="btn btn-primary">Guardar cambios</button>
                        </div>
                    </div>
                </form>         
            </div>
        </div>
    </div>
{% else %}
    <div class="container d-flex align-items-center justify-content-center">
        <div class="card card-listar">
            <div class="card-title">
                <h1 class="text-center text-white"><i class="bi bi-exclamation-diamond-fill"></i> Acceso denegado <i class="bi bi-exclamation-diamond-fill"></i></h1>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}