{% extends 'base.html' %}
{% block content %}
{% if request.user.tipo_usuario.id_tipo_usuario == 1 %}
<div class="container mt-5">
    <h1 class="text-center">Entregar Tarea:</h1>

    <!-- Card con la información de la tarea -->
    <div class="card mb-4">
        <div class="card-header bg-primary text-black">
            <h4>{{ tarea.titulo }}</h4>
        </div>
        <div class="card-body">
            <p><strong>Asignatura:</strong> {{ tarea.asignatura.lista_asignatura }}</p>
            <p><strong>Curso:</strong> {{ tarea.curso }}</p>
            <p><strong>Descripción:</strong> {{ tarea.descripcion }}</p>
            <p><strong>Fecha límite:</strong> {{ tarea.fecha_fin }}</p>

            <h5 class="mt-3">Archivos de la Tarea</h5>
            <ul class="list-group">
                {% for archivo in tarea.archivos.all %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <a href="{{ archivo.archivo.url }}">{{ archivo.archivo.name }}</a>
                        </div>
                        <div>
                            <a href="{{ archivo.archivo.url }}" class="btn btn-sm btn-primary" download>Descargar Archivo</a>
                        </div>
                    </li>
                {% endfor %}
                
            </ul>
        </div>
    </div>

    <!-- Formulario para la entrega de la tarea -->
     {% if tarea.tipo_tarea.id_tipo_tarea == 1 %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <div class="form-group">
                <label for="id_comentario">Comentario</label>
                {{ form.comentario }}
            </div>
            <div class="form-group">
                <label for="id_archivo">Subir Archivos</label>
                <input type="file" name="archivos" id="id_archivo" multiple class="form-control">
                <small class="form-text text-muted">Puedes subir varios archivos manteniendo presionada la tecla Ctrl (Windows) o Command (Mac).</small>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Entregar Tarea</button>
        </div>
    </form>
    {% endif %}
</div>
{% else %}
<div class="container d-flex align-items-center justify-content-center">
    <div class="card card-listar">
        <div class="card-title">
            <h1 class="text-center text-white"><i class="bi bi-exclamation-diamond-fill"></i> Acceso denegado <i class="bi bi-exclamation-diamond-fill"></i></h1>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
