{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Lista de Tareas Asignadas</h1>
    <div class="card">
        <div class="text-center my-1">
            <a href="{% url 'crear_tarea' %}" class="btn btn-primary">Crear Tarea</a>
        </div>
    <table class="table table-bordered mt-4">
        <thead class="table">
            <tr>
                <th>Título</th>
                <th>Curso</th>
                <th>Asignatura</th>
                <th>Fecha Límite</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for tarea in tareas %}
            <tr>
                <td>{{ tarea.titulo }}</td>
                <td>{{ tarea.curso }}</td>
                <td>{{ tarea.asignatura.lista_asignatura }}</td>
                <td>{{ tarea.fecha_fin }}</td>
                <td>
                    <a href="{% url 'ver_entrega_tarea' tarea.id_tarea %}" class="btn btn-info btn-sm">Ver Entregas</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">No hay tareas asignadas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
