{% extends 'base.html' %}
{% block content %}
{% if request.user.tipo_usuario.id_tipo_usuario == 1 %}
<div class="container mt-5">
    <h1 class="text-center">Tareas Asignadas</h1>
    <table class="table table-striped mt-4">
        <thead class="table-dark">
            <tr>
                <th>Título</th>
                <th>Curso</th>
                <th>Asignatura</th>
                <th>Fecha Límite</th>
                <th>Acciones</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for tarea in tareas %}
            <tr>
                <td>{{ tarea.titulo }}</td>
                <td>{{ tarea.curso }}</td>
                <td>{{ tarea.asignatura }}</td>
                <td>{{ tarea.fecha_fin }}</td>
                <td>
                    <a href="{% url 'entregar_tarea' tarea.id_tarea %}" class="btn btn-success btn-sm">Entregar Tarea</a>
                </td>
                <td>
                    <a href="{% url 'ver_mis_entregas' tarea.id_tarea %}" class="btn btn-danger btn-sm">Ver entregas</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">No hay tareas asignadas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="container d-flex align-items-center justify-content-center">
    <div class="card card-listar">
        <div class="card-title">
            <h1 class="text-center text-white"><i class="bi bi-exclamation-diamond-fill"></i> Acceso denegado <i
                    class="bi bi-exclamation-diamond-fill"></i></h1>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}