{% extends 'base.html' %}

{% block content %}
{% if request.user.tipo_usuario.id_tipo_usuario == 1 %}
<div class="container">
    <div class="card mb-4">
        <div class="card-header bg-primary text-black">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <h4>Tarea: {{ tarea.titulo }}</h4>
                </div>
                <div>
                    <a href="{% url 'tareas_alumno' %}" class="btn btn-primary btn-block">Volver </a>
                </div>
            </li>


        </div>
        <div class="card-body">
            <p><strong>Asignatura:</strong> {{ tarea.asignatura.lista_asignatura }}</p>
            <p><strong>Curso:</strong> {{ tarea.curso }}</p>
            <p><strong>Descripción:</strong> {{ tarea.descripcion }}</p>
            <p><strong>Fecha límite:</strong> {{ tarea.fecha_fin }}</p>
        </div>
    </div>

    <h3 class="mt-4">Mis entregas:</h3>
    <table class="table table-bordered mt-4">
        <thead class="table">
            <tr>
                <th>Fecha de Entrega</th>
                <th>Comentario</th>
                <th>Nombre Archivo</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for entrega in entregas %}
            <tr>
                <td>{{ entrega.fecha_entrega }}</td>
                <td>{{ entrega.comentario }}</td>
                {% if entrega.archivos.all %}
                {% for archivo in entrega.archivos.all %}
                <td><a href="{{ archivo.archivo.url }}">{{ archivo.archivo.name }}</a></td>
                <td><a href="{{ archivo.archivo.url }}" class="btn btn-sm btn-danger" download>Descargar</a></td>
                {% endfor %}
                {% endif %}
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">No hay tareas asignadas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="container d-flex align-items-center justify-content-center">
    <div class="card card-listar">
        <div class="card-title">
            <h1 class="text-center text-white"><i class="bi bi-exclamation-diamond-fill"></i> Acceso denegado <i
                    class="bi bi-exclamation-diamond-fill"></i></h1>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}