{% extends 'base.html' %}

{% block title %}Detalle de la Tarea{% endblock %}

{% block content %}
<div class="container">
    <div class="card mb-4">
        <div class="card-header bg-primary text-black">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <h4>{{ tarea.titulo }}</h4>
                </div>
                <div>
                    <a href="{% url 'lista_tareas' %}" class="btn btn-primary btn-block">Volver </a>
                </div>
            </li>
            
            
        </div>
        <div class="card-body">
            <p><strong>Asignatura:</strong> {{ tarea.asignatura.lista_asignatura }}</p>
            <p><strong>Curso:</strong> {{ tarea.curso }}</p>
            <p><strong>Descripción:</strong> {{ tarea.descripcion }}</p>
            <p><strong>Fecha límite:</strong> {{ tarea.fecha_fin }}</p>

            <h5 class="mt-3">Archivos de la Tarea</h5>
            <ul class="list-group">
                {% for archivo in tarea.archivos.all %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <a href="{{ archivo.archivo.url }}">{{ archivo.archivo.name }}</a>
                        </div>
                        <div>
                            <a href="{{ archivo.archivo.url }}" class="btn btn-sm btn-primary" download>Descargar Archivo</a>
                        </div>
                    </li>
                {% endfor %}
                
            </ul>
        </div>
    </div>

    <h3 class="mt-4">Alumnos que han entregado la tarea</h3>
    <table class="table table-bordered mt-4">
        <thead class="table">
            <tr>
                <th>Estudiante</th>
                <th>Fecha de Entrega</th>
                <th>Comentario</th>
                <th>Nombre Archivo</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for entrega in entregas %}
                <tr>
                    <td>{{ entrega.alumno.persona }}</td>
                    <td>{{ entrega.fecha_entrega }}</td>
                    <td>{{ entrega.comentario }}</td>
                    {% if entrega.archivos.all %}
                        {% for archivo in entrega.archivos.all %}
                            <td><a href="{{ archivo.archivo.url }}">{{ archivo.archivo.name }}</a></td>
                            <td><a href="{{ archivo.archivo.url }}" class="btn btn-sm btn-danger" download>Descargar</a></td>    
                        {% endfor %}
                {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No hay tareas asignadas.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3 class="mt-4">Alumnos que NO han entregado la tarea</h3>
    <ul class="list-group mb-4">
        {% for alumno in alumnos %}
            {% if alumno.id_alumno not in alumnos_que_entregaron %}
                <li class="list-group-item">{{ alumno.persona }} - No ha entregado la tarea.</li>
            {% endif %}
        {% empty %}
            <li class="list-group-item">Todos los alumnos han entregado la tarea.</li>
        {% endfor %}
    </ul>

 
</div>
{% endblock %}
