{% extends 'base-colegio.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center">
	<div class="card card-listar">
		<div id="carouselExampleDark" class="carousel carousel-dark slide">
			<div class="carousel-inner">
				{% for na in NoticiasAlta %}
					<div class="carousel-item active" data-bs-interval="2000" >
						<img src="{{ na.imagen.url }}" class="d-block w-100 img-noticia">
						<div class="carousel-caption d-none d-sm-block">
							<div class="card-body card-creacion mx-auto text-center">
								<h5 class="text-white">{{ na.titulo|upper }}</h5>
								<p class="text-white">{{ na.subtitulo }}</p>
							</div>
						</div>
					</div>
				{% empty %}
					<div class="carousel-item active" data-bs-interval="2000">
						<img src="https://www.colegiosme.cl/galeriafotos/sensibilización-PIE/9.jpg" class="d-block w-100 img-noticia">
					</div>
				{% endfor %}
			</div>
			{% if NoticiasAlta.count > 1 %}
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			{% endif %}
		</div>
		<div class="card-title">
			<h1 class="text-center text-white">Noticias</h1>
		</div>
		<div class="card">
			<div class="container row d-flex justify-content-between my-3">
				{% for n in Noticias %}
				<div class="col-md-6 my-1">
					<div class="card h-100">
						<img src="{{ n.imagen.url }}" class="card-img-top img-noticia">
						<div class="card-body">
							<h5 class="card-title">{{ n.titulo|upper }}</h5>
							<p class="card-text">{{ n.subtitulo }}</p>
						</div>
						<div class="card-footer bg-primary border-light text-end">
							<a href="{% url 'noticia' n.id_noticia %}" class="btn btn-primary">Ver más<i class="bi bi-plus"></i></a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}