{% extends 'base.html' %}

{% block content %}
{% if request.user.tipo_usuario.id_tipo_usuario == 3 %}
<div class="container d-flex align-items-center justify-content-center">
    <div class="card card-listar">
        <div class="card-header text-center text-white">
            <h1>Anotaciones</h1>
            <h2>{{ asignatura.lista_asignatura.nombre_lista_asignatura }}</h2>
            <h3>{{ asignatura.curso }} </h3>
        </div>
        <div class="card">
            <table class="table table-sm">
                <thead>
                    <tr class="table-primary text-white">
                        <th>Nombre estudiante</th>
                        <th>RUT</th>
                        <th class="d-none d-md-table-cell"></th>
                        <th class="d-none d-md-table-cell"></th>
                    </tr>
                </thead>
                {% for alumno in alumnos %}
                <tbody>
                    <tr class="bg-white">
                        <td>{{ alumno.alumno|title }}</td>
                        <td>{{ alumno.alumno.persona.rut }}</td>
                        <td class="text-center d-none d-md-table-cell">
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal{{ alumno.alumno.persona.rut }}">
                                <i class="bi bi-eye-fill"></i> Ver anotaciones
                            </button>
                        </td>
                        <td class="text-center d-none d-md-table-cell">
                            <a href="{% url 'crear-anotacion' alumno.alumno.persona.rut %}" class="btn btn-primary btn-block">
                                <i class="bi bi-journal"></i> Crear anotación
                            </a>
                        </td>
                    </tr>
                    <tr class="d-table-row d-md-none">
                        <td colspan="4">
                            <div class="d-flex justify-content-between">
                                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal{{ alumno.alumno.persona.rut }}">
                                    <i class="bi bi-eye-fill"></i> Ver anotaciones
                                </button>
                                <a href="{% url 'crear-anotacion' alumno.alumno.persona.rut %}" class="btn btn-primary">
                                    <i class="bi bi-journal"></i> Crear anotación
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% else %}
<div class="container d-flex align-items-center justify-content-center">
    <div class="card card-listar">
        <div class="card-title">
            <h1 class="text-center text-white"><i class="bi bi-exclamation-diamond-fill"></i> Acceso denegado <i class="bi bi-exclamation-diamond-fill"></i></h1>
        </div>
    </div>
</div>
{% endif %}

{% for alumno in alumnos %}
<div class="modal fade" id="myModal{{ alumno.alumno.persona.rut }}" tabindex="-1" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="row">
                        <h2 class="text-center" id="myModalLabel">{{ alumno.alumno|title }}</h2>
                    </div>
                    <div class="row">
                        <h4 class="modal-title text-center" id="myModalLabel">{{ alumno.alumno.persona.rut }}</h4>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                {% for tipo_anotacion in tipo_anotaciones %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-2">
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#col{{ tipo_anotacion.id_tipo_anotacion }}" aria-controls="col{{ tipo_anotacion.id_tipo_anotacion }}"><i class="bi bi-plus-lg"></i></button>
                        </div>
                        <div class="col-10">
                            <h2>Anotacion {{ tipo_anotacion.nombre_tipo_anotacion }}</h2>
                        </div>
                    </div>
                    <div class="col-12 container collapse" id="col{{ tipo_anotacion.id_tipo_anotacion }}">
                        {% for anotacion in alumno.anotaciones %}
                        {% if anotacion.tipo_anotacion.id_tipo_anotacion == tipo_anotacion.id_tipo_anotacion %}
                        {% if alumno.alumno.persona.rut == anotacion.matricula.alumno.persona.rut %}
                        <div class="card container border-primary mb-3 col-12">
                            <div class="row mt-2">
                                <div class="col-6">
                                    <h6 class="start" style="color: darkgray;">{{ asignatura.funcionario.persona.p_nombre }}</h6>
                                    <h6 class="start" style="color: darkgray;">{{ anotacion.lista_asignatura.nombre_asignatura }}</h6>
                                </div>
                                <div class="col-6">
                                    <h6 class="text-end" style="color: darkgray;">{{ anotacion.fecha_anotacion }}</h6>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <h6>ANOTACION:</h6>
                            </div>
                            <div class="card-body">
                                <p>{{ anotacion.descripcion_anotacion|upper }}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <hr>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}