{% extends 'base-colegio.html' %}
{% block content %}
<div class="container d-flex align-items-center justify-content-center">
    <div class="card card-listar">
        <div class="card-title">
            <h1 class="text-center text-white">Anotaciones</h1>
        </div>
        <div class="card">
            <div class="container row d-flex justify-content-between my-3">
                {% for asignatura in asignaturas %}
                <div class="col-12 col-md-6 my-1">
                    <div class="card h-100 w-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7">
                                    <h5 class="card-title">{{ asignatura.id_lista_asignatura.nombre_lista_asignatura }}</h5>
                                </div>
                                <div class="col-5" style="text-align: right; color: darkgray">
                                    <p>{{ asignatura.id_curso }}</p>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <a href="{% url 'anotacionesEstudiantes' asignatura.id_asignatura %}" class="btn btn-primary btn-block">Ver Anotaciones</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}