{% extends 'base.html' %}

{% block content %}
{% if request.user.tipo_usuario.id_tipo_usuario == 5 %}
<div class="container mt-4">
    <div class="container mt-4">

        <div class="d-flex align-items-center">
           
            <div class="flex-grow-1 text-start pe-3">
                <h2 class="text-center mb-4">Mantención de Horarios</h2>
            </div>
        
            
            <div class="ms-3">
                <a href="{% url 'listar_bloques_horarios' %}" class="btn btn-sm btn-primary">Administrar Bloques horarios</a>
            </div>
        </div>
   
 
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for curso in cursos %}
                <tr>
                    <td>{{ curso }}</td>
                    
                    <td>
                        <a href="{% url 'horario' curso.id_curso %}" class="btn btn-primary btn-sm">Crear o Actualizar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No hay Cursos creados.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="container d-flex align-items-center justify-content-center">
    <div class="card card-listar">
        <div class="card-title">
            <h1 class="text-center text-white"><i class="bi bi-exclamation-diamond-fill"></i> Acceso denegado <i class="bi bi-exclamation-diamond-fill"></i></h1>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
