{% extends 'base-colegio.html' %}
{% load static %}
{% block styles %}
    <!-- <link rel="stylesheet" href="{% static '/css/index.css' %}"> -->
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}



<div class="row mt-3 ">    
    <div class="col-12 col-md-6 offset-md-4" >
        <div class="card text-center text-bg-dark " style="width: 18rem;" >
            <div class="card-body ">
                <div class="card-title">
                    <h2>Crear Colegio</h2>
                </div>
                <hr>
                <form action="" class="" id="formulario_contacto" method="POST"> 
                    {% csrf_token %}
        
                    {{ form | crispy }}
                    {{ form2 | crispy }}
                    <br>
                    
                    <hr>
                    <div class="d-flex justify-content-center">

                        <a href="{%url 'listarColegio'%}"class="btn btn-warning">Cancelar</a>
                        &nbsp;
                        <button type="submit" class="btn btn-primary">Crear</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>

{%endblock%}