{% extends 'base-colegio.html' %}
{% load static %}
{% block styles %}
    <!-- <link rel="stylesheet" href="{% static '/css/index.css' %}"> -->
{% endblock %}
{% block content %}


<div class="row mt-3">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
        <h1 >Administración Colegio</h1>
    </div>
    
</div>
<div class="row mt-3">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
        <a href="{%url 'crearColegio'%}"class="btn btn-primary">Crear Colegio</a>
    </div>
    
</div>

<div class="row mt-3">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="table table-striped table-hover table-resposive-sm">
            <table class="table table-dark table-sm table-striped ">
                <thead>
                    <tr>
                        <th>id_colegio</th>
                        <th>nombre_colegio</th>
                        <th>representante_legal</th>
                        <th>telefono</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in Colegio%}
                    <tr>
                        <td>
                            {{c.id_colegio}}
                        </td>
                        <td>
                            {{c.nombre_colegio}}
                        </td>
                        
                        <td>
                            {{c.representante_legal}}
                        </td>
                        <td>
                            {{c.telefono}}
                        </td>
                        <td>
                            <a href="{%url 'editarColegio' c.id_colegio%}"class="btn btn-warning">Editar Colegio</a>
                        </td>
                        <td>
                            <a href="{%url 'eliminarColegio' c.id_colegio%}" class="btn btn-danger">Eliminar Colegio</a>
                        </td>
                    </tr>
            
                    {%endfor%}  
                </tbody>
            </table>
        </div>
    </div>
</div>
{%endblock%}