<div class="alert alert-primary" role="alert">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="row" colspan="3" class="text-center">
                    <h1>Carro</h1>
                </th>
            </tr>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Quitar Mensualidad</th>
                </th>
            </tr>
        </thead>
        <tbody>
            {% if request.session.carro.items %}
            {% for key, value in request.session.carro.items %}
            <tr>
                <td> {{ value.id_mensualidad }}</td>
                <td> {{ value.monto }}</td>
                <td> {{ value.cantidad }}</td>
                <td><a href="{% url 'eliminar-mensualidad' value.id_mensualidad %} " class="btn btn-danger">Quitar</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">
                    <div class="alert alert-danger text-center">Sin Mensualidades</div>
                </td>
            </tr>
            {% endif %}
            <tr>
                <th scope="row">Total:</th>
                <td colspan="2">${{ total }}</td>
            </tr>
        </tbody>
    </table>
    <hr>
</div>
<div class="row text-center">
    <div class="col-6"><a href="{% url 'webpay' %}" class="btn btn-primary">Procesar Venta</a> </div>
</div>