{% extends 'base-colegio.html' %}
{% load static %}

{% block styles %}
<!-- <link rel="stylesheet" href="{% static '/css/index.css' %}"> -->
{% endblock %}

{% block content %}
{% if request.user.id_tipo_usuario.id_tipo_usuario == 5 %}
    <div class="container d-flex align-items-center justify-content-center">
        <div class="card card-listar">
            <div class="card-header text-center text-white">
                <h1>Administración de cursos</h1>
                <h2>{{ asignatura.id_lista_asignatura.nombre_lista_asignatura }}</h2>
                <h3>{{ asignatura.id_curso }} </h3>
            </div>
            <div class="card">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center my-3">
                    <a href="{% url 'crearCurso' %}" class="btn btn-primary">Crear Curso</a>
                </div>
                <table class="table table-sm">
                    <thead>
                        <tr class="table-primary text-white">
                            <th>Nombre Curso</th>
                            <th class="text-center d-none d-md-table-cell">Año Curso</th>
                            <th class="text-center d-none d-md-table-cell">Tipo Curso</th>
                            <th>Jornada</th>
                            <th>Profesor Jefe</th>
                            <th class="d-none d-md-table-cell"></th>
                            <th class="d-none d-md-table-cell"></th>
                        </tr>
                    </thead>
                    {% for curso in cursos %}
                    <tbody>
                        <tr class="bg-white">
                            <td class="text-center d-none d-md-table-cell">{{curso.id_lista_curso}}</td>
                            <td class="text-center d-none d-md-table-cell">{{curso.anio_curso}}</td>
                            <td class="text-center d-none d-md-table-cell">{{curso.id_tipo_curso}}</td>
                            <td>{{curso.id_lista_curso}} {{curso.anio_curso}} - {{curso.id_tipo_curso}}</td>
                            <td class="text-center d-md-none d-md-table-cell">{{curso.id_jornada}}</td>
                            <td>{{curso.profesor_jefe}}</td>
                            <td class="text-center d-none d-md-table-cell">
                                <a href="{% url 'eliminarCurso' curso.id_curso %}" class="btn btn-primary btn-block">
                                    <i class="bi bi-trash3-fill"></i> Eliminar curso
                                </a>
                            </td>
                            <td class="text-center d-none d-md-table-cell">
                                <a href="{% url 'cerrarCurso' curso.id_curso %}" class="btn btn-danger btn-block">
                                    <i class="bi bi-x-diamond-fill"></i> Cerrar curso
                                </a>
                            </td>
                        </tr>
                        <tr class="d-table-row d-md-none">
                            <td colspan="4">
                                <div class="d-flex justify-content-center">
                                    <a href="{% url 'eliminarCurso' curso.id_curso %}" class="btn btn-primary btn-block">
                                        <i class="bi bi-trash3-fill"></i> Eliminar curso
                                    </a>
                                    <a href="{% url 'cerrarCurso' curso.id_curso %}" class="btn btn-danger btn-block">
                                        <i class="bi bi-x-diamond-fill"></i> Cerrar curso
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>            
            </div>
        </div>
    </div>
{% else %}
    <div class="container d-flex align-items-center justify-content-center">
        <div class="card card-listar">
            <div class="card-title">
                <h1 class="text-center text-white"><i class="bi bi-exclamation-diamond-fill"></i> Acceso denegado <i class="bi bi-exclamation-diamond-fill"></i></h1>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}